<a-scene vr-mode-ui="enabled: false" arjs="sourceType: webcam; debugUIEnabled: false;sourceWidth:1280; sourceHeight:720; displayWidth: 1280; displayHeight: 720;">

  <a-camera gps-camera="positionMinAccuracy:10; gpsTimeInterval:0; gpsMinDistance:5" rotation-reader> </a-camera>


</a-scene>

<div id="nav__dispaly">

  <div class="row">
    <div class="col">
      <i (click)="openDialog()" class="fas fa-map-marked-alt fa-2x" style="color: #49d855;"></i>
    </div>

    <div class="col">
      <i (click)="showApi()" class="fas fa-sync-alt fa-2x" style="color: #436fff;"></i>

    </div>
  </div>
</div>
<div id="info__dispaly">
  <div class="col">
    <i (click)="aboutDialog()" class="fas fa-info-circle fa-2x" style="color: #fffc43;"></i>

  </div>

</div>


<!-- <h1>{{dataList[0].name}}</h1> -->