<a-scene vr-mode-ui="enabled: false" embedded arjs="sourceType: webcam;">
  <a-image src="https://cors.kukkk.xyz/https://pngimg.com/uploads/mario/mario_PNG53.png" look-at="[gps-camera]"
    rotation="0 180 0" gps-entity-place="latitude: -7.506110; longitude: 109.075774"></a-image>
  <a-image src="https://cors.kukkk.xyz/https://pngimg.com/uploads/mario/mario_PNG53.png" look-at="[gps-camera]"
    rotation="0 180 0" gps-entity-place="latitude: -7.506104; longitude: 109.075567"></a-image>
  <a-image src="https://cors.kukkk.xyz/https://pngimg.com/uploads/mario/mario_PNG53.png" look-at="[gps-camera]"
    rotation="0 180 0" gps-entity-place="latitude: -7.505893; longitude: 109.075522"></a-image>
  <a-text value="Warunge alip." geometry="primitive:plane" look-at="[gps-camera]"
    gps-entity-place="latitude: -7.505972; longitude: 109.075779;"></a-text>
  <a-text value="Mbuh sapa." geometry="primitive:plane" look-at="[gps-camera]"
    gps-entity-place="latitude: -7.506043; longitude: 109.075735;"></a-text>


  <a-camera gps-camera="alert:true;positionMinAccuracy:10;" rotation-reader> </a-camera>

</a-scene>